#start{
  text-align:center;
}

#signUpPage{
  text-align:center;
}

#signInPage{
  text-align:center;
}

#tweetit{
  text-align:center;
}

#ask{
  font-size:20px;
}
 

button{
  color:red;
  font-size:15px;
}

h1{
  color:var(--bs-blue)
}

h2{
  color:var(--bs-red);
  font-size:20px;
}

body{
  --bs-body-bg:var(--bs-gray-500);
}

.gradient-custom-2 {
/* fallback for old browsers */
background: #fbc2eb;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1))
}




